ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
  }

  li {
    display: inline;
  }

  .logo {
    position: absolute;
    display: inline;
    left: 20px;
    width: 100px;
    height: 48px;
  }

  nav {
    text-align: center;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
  }