 /*header section*/
 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 }

nav {
    margin: 0px 20px 20px 20px;
    padding-top: 20px;
  }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}
  
  li {
    float: left;
  }

  a {
    text-decoration: none;
    padding: 50px 50px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: black;
  }

  li a:hover:not(.active) {
    text-decoration: underline;
    color: #d790a1;
  }

  .logo {
    display: block;
    float: left;
    max-height: 200px;
    padding-left: 40px; 
  }
 /*main section*/
  div {
    display: block;
    padding: 0px 40px 0px 40px;
    text-align: center;
  }

  h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50pt;
  }

  h1.main-header {
    text-align: left;
  }

  p {
    font-family: "Montserrat", sans-serif;
  }

  p.main-header-content {
    text-align: left;
  }

  .container {
    display: flex;
  }

  .text-container {
    flex: 1;
  }

  .img-container {
    flex: 1;
    padding-top: 80px;
  }

  .hero-image-1 {
    width: 100%;
    height: auto;
  }
 /*about us and rehoming pages*/
  .hero-image-2 {
    width: 100%;
    height: auto;
  }
  .hero-image-3 {
    width: 100%;
    height: auto;
  }

  h2 {
    font-family: "AMATIC SC", sans-serif;
    font-size: 30pt;
    font-weight: bold;
  }
 /*form on contact page*/
  .form-container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    label {
      display: inline-block;
      margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    input[type="number"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    input[type="submit"] {
      background-color: #d790a1;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #d790a1;
    }

  form {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
 /*footer section*/
  footer {
    text-align: center;
    background-color: #d790a1;
    color: #fff;
    padding: 20px;
  }
  
  /*styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 100%;
    margin: auto;
  }
}

  /*styles for tablet devices*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

  /*styles for mobile devices*/
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}