 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 }

nav {
    margin: 0px 20px 20px 20px;
    padding-top: 20px;
  }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}
  
  li {
    float: left;
  }

  a {
    text-decoration: none;
    padding: 50px 50px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: black;
  }

  li a:hover:not(.active) {
    text-decoration: underline;
    color: #d790a1;
  }

  .logo {
    display: block;
    float: left;
    max-height: 200px; 
  }

  div {
    display: block;
  }

  footer {
  
  }